<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LW2 - Login change failed</title>
    <link rel="icon" th:href="@{/img/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <div class="form">
        <div class="subtitle">
            <h2 style="text-align: center">Invalid data</h2>
            <p><a class="link" href="/index">Go back</a></p>
            <ul style="color: #757780">
                <li>
                    <h4>Either password fails requirements:</h4>
                    <h4 style="color: #61646c">
                        It is 8 characters at least and must contain minimum 1 small letter, 1 capital and 1 number.
                    </h4>
                </li>
                <li><h4>Or password confirmation does not match</h4></li>
            </ul>
        </div>
    </div>
</body>
</html>