<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LW2 - Username change failed</title>
    <link rel="icon" th:href="@{/img/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <div class="form">
        <div class="subtitle">
            <h2 style="text-align: center">Invalid data</h2>
            <p><a class="link" href="/index">Go back</a></p>
            <ul style="color: #757780">
                <li><h4>Either username is taken</h4></li>
                <li>
                    <h4>Or username fails requirements:</h4>
                    <h4 style="color: #61646c">
                        It should be 6 to 16 characters in length and can
                        contain letters, numbers, '_' and '-', staring from a letter.
                    </h4>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>